#topnav {
  background-color: rgba(0, 0, 0, 0.625);
  position: fixed;
  font-family: "Source Code Pro";
  margin: 0;
  padding: 40px;
  width: 100%;
  box-sizing: border-box;
  top: 0; 
  left: 0;
  z-index: 5; 
}

a {
  color: rgb(226, 212, 185); 
  text-decoration: none;
  font-size:20px;
  transition: color 0.15s ease;
  padding:20px;
}

a:hover{
  color: coral;
}


html, body {
  padding: 0;
  margin: 0;
}

body {
  height:2000px;
  background-color: rgb(0, 0, 0);
  background-image: url(project.jpg);
  background-attachment: scroll; 
  background-repeat: no-repeat;
}



#wuv2 {
  float: right;
  height: 150px;
  width: 150px;
  border-radius: 75px;
  margin-bottom: 20px; 
}


#sidebar {
  width: 250px;
  background-color: rgba(0, 0, 0, 0.7);
  font-family: "Source Code Pro";
  color: rgb(226, 212, 185);
  height: 100vh;
  padding: 20px;
  box-sizing: border-box;
  position: fixed;
  right: 0; 
  top: 0; 
  text-align: center;
  z-index: 10; 
  display: flex; 
  flex-direction: column; 
  align-items: center; 
  justify-content: flex-start; 
}



.icon{
  box-sizing: border-box;
  width: 50px;
  transition: width 0.3s ease, opacity 0.15s ease;
}
.icon:hover{
  width:60px;
}

.icon:active{
  opacity:0.6;
}

.progress-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 5px; 
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 1000; 
}


.progress-bar {
  height: 100%;
  width: 0; 
  background-color: aqua; 
  transition: width 0.1s ease-out;
}

.image-container {
  display: flex; 
  flex-wrap: wrap; 
  justify-content: space-around; 
  align-items: flex-end;
  gap: 15px;
  margin: 20px; 
}

.image-container img {
  width: 400px; 
  height: auto; 
  border: 2px solid #ccc; 
  border-radius: 8px; 
}
